################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwaggerAPI.Tests/bin/Debug
/SwaggerAPI.Tests/obj/Debug
/.vs
/SwaggerAPI/.vs/SwaggerAPI
/SwaggerAPI/bin
/SwaggerAPI/obj/Debug
/SwaggerAPI/packages
